.card {
    width: 90%;
    margin: 3em auto;



    div {
        background-color: $light-gray;
        color: $strong-text;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 18px;

        p {
            font-size: 1.3em;
        }

        i {
            align-self: center;
            cursor: pointer;
        }
    }
}